

<form [formGroup]="form" (ngSubmit)="onSubmit($event, form)">
  <h2 md-diaglog-title>{{title}}</h2>

  <div md-dialog-content>

    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Task description" formControlName="desc">
    </md-input-container>
    
    <md-radio-group formControlName="priority">
      <md-radio-button *ngFor="let priority of priorities" [value]="priority.value">
        {{priority.label}}
      </md-radio-button>
    </md-radio-group>
    
    <div class="full-width">
      <app-chips-list [label]="'change execute memebr'" [multiple]="false" formControlName="owner"></app-chips-list>
    </div>

    <md-input-container class="full-width">
  
      <input mdInput [mdDatepicker]="dueDatepicker" type="text" placeholder="Due Date" formControlName="dueDate">
      
      <!-- <md-datepicker-toggle mdSuffix [for]="dueDatepicker"></md-datepicker-toggle> -->

      <button type="button" mdSuffix [mdDatepickerToggle]="dueDatepicker"></button>
  
    </md-input-container>
  
    <md-datepicker #dueDatepicker></md-datepicker>
  
  
    <md-input-container class="full-width">
        
      <input mdInput [mdDatepicker]="remindDatepicker" type="text" placeholder="Remind Date" formControlName="remind">
  
      <!-- is similar as [mdMenuTriggerFor] in task-header component and [mdAutocomplete] in invite component -->
      <button type="button" mdSuffix [mdDatepickerToggle]="remindDatepicker"></button>
      <!-- <md-datepicker-toggle mdSuffix [for]="remindDatepicker"></md-datepicker-toggle> -->
    </md-input-container>
  
    <md-datepicker #remindDatepicker></md-datepicker>
    <div class="full-width">
      <app-chips-list [label]="'change participant memebr'" [multiple]="true" formControlName="followers"></app-chips-list>
    </div>
    <md-input-container class="full-width">
      <textarea mdInput placeholder="remark" formControlName="remark"></textarea>
    </md-input-container>
    
  </div>

  

  <div md-dialog-actions>
    <button type="submit" md-raised-button color="primary" [disabled]="!form.valid">Save</button>
    <button type="button" md-button md-dialog-close>Close</button>
  </div>
</form>